:root{
    --mixed: rgb(23, 133, 153);
    --grey: grey;
}


*{
    margin: 0;
    padding: 0;
}

header{
    text-align: center;
}

main{
    height: 90vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.main-section{
    box-sizing: border-box;
    border: 1px solid green;
    height: 60%;
    width: 60%;
    margin: 50px;
    border-radius: 16px;
    box-shadow: 5px 5px 10px var(--mixed);
}

#details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#name{
    font-size: 1.5em;
    color: var(--mixed);
    margin: 5px;
}
#desg{
    font-weight: 600px;
    color: rgb(63, 36, 36);
}

#descript{
    width: 90%;
    height: 80%;
    text-align: justify;
    margin: 5px 0px 10px 10px;
    position: relative;
}

#img{
    object-fit: fill;
    box-shadow: 3px 3px 6px var(--mixed);
    height: 20%;
    width: 20%;
    border-radius: 30px;
}

.btns{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.direction{
    flex-basis: 100%;
    margin: 3px;
}

#larr, #rarr{
    border-radius: 16px;
    text-align: center;
    height: 30px;
    width: 30px;
    border: none;
    cursor: pointer;
    box-shadow: 2px 1px 10px var(--mixed);
    margin: 2px;
}

#surprise{
    width: 20%;
    border-radius: 8px;
}